.userProfileImg {
    position: relative;
    margin: 0 auto 10px auto;
    width: 100px;
    height: 100px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    .fa-camera {
        color: #fff;
      }
      &>input {
        display: none;
      }
}

// .showProfile {
//     width:50px;
//     height: 50px;
//     border-radius: 50%;
//     overflow: hidden;

//     &_Image {
//       width:50px;
//       height: 50px;
//       object-fit: cover;
//      // width: 100%;
//     }
// }

.showProfile_Image {
         width:50px;
         height: 50px;
         border-radius: 50%;
         margin-right: 2px;
         object-fit: cover;
         
       }